{# Filtered reveals for challenge agents - expects: filtered_reveals (list of strings) #}
{% if filtered_reveals %}
### Reveals
You MUST use the following information in your response if the player asks.
{% for reveal in filtered_reveals %}
- {{ reveal }}
{% endfor %}
{% endif %}