{# Basic character information - expects: character #}
<background>
    Name: {{ character.name }}
    Race: {{ character.race }}
    Profession: {{ character.profession }}
    Alignment: {{ character.alignment }}
    Background: {{ character.background }}
    Motivation: {{ character.motivation }}
</background>
