{# Current task context - expects: player, encounter #}
### Current Task
You are speaking with a {{player.race}}, {{player.gender}}, {{player.class_name}} who looks like {{player.appearance}}. You are both in {{ encounter.description }}