VITE_BACKEND_URL=http://localhost:8000/api
VITE_WEBSOCKET_URL=ws://localhost:8000
VITE_PORT=3001

# Local LAN
# VITE_BACKEND_URL=http://192.168.178.33:8000/api
# VITE_WEBSOCKET_URL=ws://192.168.178.33:8000
