# LLMs
OPENAI_API_KEY=your-openai-api-key-here
ANTHROPIC_API_KEY=your-anthropic-api-key-here
DEFAULT_MODEL_TEMP=0.6
DEFAULT_MODEL_NAME=gpt-4o-mini

# TTS
ELEVENLABS_API_KEY=your-elevenlabs-api-key-here
GOOGLE_CLOUD_TTS_API_KEY=your-google-cloud-tts-api-key-here
DEFAULT_TTS_PROVIDER=google

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-secure-password-here
POSTGRES_DB=rpg-encounters
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
TEST_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}-test

# TELEMETRY
LANGFUSE_TRACING_ENABLED=false
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key-here
LANGFUSE_SECRET_KEY=your-langfuse-secret-key-here
LANGFUSE_HOST=http://host.docker.internal:3000

# System
ENVIRONMENT=local
SERVICE=backend
FRONTEND_URL=http://localhost:3001
ECR_REPO_URI=ecr-uri-prd
GRPC_VERBOSITY=ERROR
AWS_REGION=eu-central-1
# For local development only
AWS_ACCESS_KEY_ID=access-key-id
AWS_SECRET_ACCESS_KEY=secret-access-key
AWS_SESSION_TOKEN=session-token

# Email
SEND_EMAIL=false
LOG_MAGIC_LINK=true
EMAIL_SUBJECT=Login to RPG Encounters
SES_IDENTITY=noreply@your-domain.com

# Moderation
SKIP_MODERATION=false
OPEN_AI_MODERATION_THRESHOLD=0.5

# Session management
SESSION_SECRET_KEY=change-this-to-a-real-secret-in-production

# HTTPS Configuration
USE_HTTPS=false

# Transcription
TRANSCRIPTION_POOL_SIZE=2

# AWS SES
LOG_MAGIC_LINK=true # For getting raw login token and avoid email
SEND_EMAIL=false
SES_IDENTITY=verified-ses-identity
