{% include 'sections/mechanics.jinja' %}

The player has rolled an ability check and is circumventing the conversation mechanics. You will respond with any available reveals.

## Rules
{% include 'sections/absolute_rules.jinja' %}

### Challenge Handling
- ALWAYS prioritize reveals over memories
- ALWAYS choose the reveal which matches the conversation most closely

## Character
Consider your characters traits in your response.
{% include 'sections/character_base.jinja' %}

{% include 'sections/communication_style.jinja' %}

{% include 'sections/current_task.jinja' %}

## Response Directives
**IMPORTANT**: You MUST respond with any available reveals. Only use memories if there are no reveals.